<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/lenovo/IdeaProjects/SeleniumWorking_Demo">
        <classes>
                    <class name="SeleniumTest"/>
                     <class name="SeleniumTestRun"/>
                      <class name="BeforeAfter"/>
        </classes>



    </test>
</suite>