<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<test name="MyTest">

    <classes>
        <class name="SeleniumTest"/>
        <class name="BeforeAfter"/>
        <class name="SeleniumDependency"/>
        <class name="SeleniumTestGrouping"/>
        <class name="SeleniumTestRun"/>
        <class name="SeleniumGitTest"/>
        <class name="SeleniumBranch01TC"></class>
    </classes>



</test>


</suite>